# Xcode noise
build
*.pbxuser
*.mode1v3
*.mode2v3
*.xcworkspace
xcuserdata

# Subversion
.svn

# OS X noise
.DS_Store

# Ignore 3rd party libraries in this project - no need to confuse things
TouchJSON
OCMock
JSONKit

